<ion-content [fullscreen]="true" class="notif-content">

  <!-- Header -->
  <div class="notif-header">
    <div class="app-name">MediSync</div>
    <div class="header-title">Notifications</div>
  </div>

  <div class="scroll-content">

    <div class="section-label">Aujourd'hui</div>

    <div class="notif-card" *ngFor="let n of todayNotifs" [class.unread]="!n.read" (click)="markRead(n)">
      <div class="notif-icon-wrap" [style.background]="n.iconBg">
        {{ n.icon }}
      </div>
      <div class="notif-info">
        <div class="notif-title">{{ n.title }}</div>
        <div class="notif-body">{{ n.body }}</div>
        <div class="notif-time">{{ n.time }}</div>
      </div>
      <div class="unread-dot" *ngIf="!n.read"></div>
    </div>

    <div class="section-label">Cette semaine</div>

    <div class="notif-card" *ngFor="let n of weekNotifs" [class.unread]="!n.read" (click)="markRead(n)">
      <div class="notif-icon-wrap" [style.background]="n.iconBg">
        {{ n.icon }}
      </div>
      <div class="notif-info">
        <div class="notif-title">{{ n.title }}</div>
        <div class="notif-body">{{ n.body }}</div>
        <div class="notif-time">{{ n.time }}</div>
      </div>
      <div class="unread-dot" *ngIf="!n.read"></div>
    </div>

    <div style="height: 80px;"></div>
  </div>

</ion-content>

<app-tab-bar currentPage="notifications"></app-tab-bar>
